
.slider-nav{
    position: relative;
    padding: 0 30px;
    margin-top: -2rem;
    .slick-prev {
        background-image: url(../image/arrowprev.png)!important;
        background-repeat: no-repeat!important;
        left: 0!important;
        top: 3.6rem!important;
    }
    .slick-next{
        background-image: url(../image/arrow-next.png)!important;
        background-repeat: no-repeat!important;
       right:-0.5rem!important;
        top: 3.6rem!important;
    }
}

.slider-links{
    height: 80px;
    width: 137px!important;
    img{
      margin: 0 auto;
        width: 137px;
        height: 75px;
        background-color: #ffffff;
        padding: 2px;
    }
}

.slider-inner{
    margin-bottom: 45px;
}
.slide-show{
    .slick-prev{
        background-image: url(../image/slider-prev.png)!important;
        background-repeat: no-repeat!important;
        background-position-y: center!important;
        background-position-x: center!important;
        background-color: #d1d1d1!important;
        left: -3rem!important;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &:hover{
            background-color: #003587!important;
        }
    }
    .slick-next{
        background-image: url(../image/slider-next.png) !important;
        background-repeat: no-repeat!important;
        background-position-y: center!important;
        background-position-x: center!important;
        background-color: #d1d1d1!important;
        right:-3rem!important;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &:hover{
            background-color: #003587!important;
        }
    }
}

.sliderWe{
    .slick-prev{
        background-image: url(../image/slider-prev.png);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-color: #d1d1d1;
        left: -3rem!important;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &:hover{
            background-color: #003587;
        }
    }
    .slick-next{
        background-image: url(../image/slider-next.png);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-color: #d1d1d1;
        right:-3rem!important;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        &:hover{
            background-color: #003587;
        }
    }
    .slider-icon{
        margin-top: 2rem;
    }
}

@media screen and (max-width:576px){
    
.sliderWe{
    .slick-prev{
        left: -1.2rem!important;
        width: 18px;
        height: 18px;

    }
    .slick-next{
        right: -1.2rem!important;
        width: 18px;
        height: 18px;

    }
}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .sliderWe{
        .slick-prev{
            left: -2rem!important;
    
        }
        .slick-next{
            right: -2rem!important;
    
        }
    }
}