.footer{
    background-color: #fff;
    
}
.footer-inner{
padding: 46px 0 19px 0;
border-bottom: 1px solid #626262;
    .footer-title{
        h1{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 34px;
        }
       
    }
    .footer-txt{
        p{
            font-size: 14px;
            margin: 0;
        }
    }
    .footer-contact{
        h2{
            color: #0095e1;
            font-size: 30px;
        }
        a{
            color: #262626;
            font-size: 14px;
        }
    }
}
.footer-bottom{
    padding: 25px 0;
}
.foot-bottom{
  p{
      margin-right: 30px;
  }
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    a{
         width: 22px;
        height: 22px;
        border: 1px solid #003588;
        border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        i{
            font-size: 12px;
            color: #003588;;
        }
    }
  }
  .footer-link{
      p{
          text-align: center;
          padding-left: 30px;

      }
  }

@media screen and (max-width:576px){
    .footer{
        .footer-logo{
            display: flex;
            justify-content: center;
        }
        .footer-title{
            display: flex;
            justify-content: center;
            h1{
                margin: 1rem 0;
            }
        }
        .footer-txt{
            text-align: center;
        }
        .footer-contact{
            margin-top: 1rem;
            text-align: center;
            h2{
                font-size: 20px;
            }
        }
        .footer-bottom{
            p{
                text-align: center;
            }
            .foot-bottom{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    margin: 0 0 10px 0;
                }
            }
            .footer-icons{
                justify-content: space-evenly;
                margin-bottom: 10px;
            }
            .footer-link{
                p{
                    padding: 0;
                }
            }
        }
       
}
}

@media screen and (min-width:768px) and (max-width:1024px){
    .footer-inner{
        .footer-title{
            h1{
                margin: 0;
            }
        }
        .footer-contact{
            h2{
                font-size: 20px;
            }
        }
       
    }
    .foot-bottom{
        justify-content: center;
        p{
            margin-right: 15px;
        }
    }
    .footer-icons{
        justify-content: space-evenly;
        margin-bottom: 10px;
    }
}