body{
    font-family: 'openSans';
    a{
        text-decoration: none!important;
        outline: none!important;
    }
      
.head{
    background-image: url(../image/фон-галакси.png);
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 0;
    .header-inner{
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items: center;
       .header-links{
           .nav-links{
               background-color: #fff;
               padding: 16px 0;
               border-radius:30px;
               display: flex;
               justify-content: space-around;
               a{
                   font-size: 14px;
                   color: #464646!important;
                   font-family: 'semiBold';
               }
               .link.active{
                color: #0093e0!important;;
               }
           }
       }
    }
    .header-content{
        padding: 90px 0;
        h3{
            font-size: 48px;
            font-family:'semiBold';
            color: #ffffff;
        }
        p{
            font-size: 20px;
            color: #ffffff;
            padding-bottom: 50px;
        }
        button{
            color: #003587;
            font-family: "extraBold";
            z-index: 156;
            border: none;
            width: 243px;
            height: 52px;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            border-radius: 20px;
            background-color: rgb(255, 255, 255);
            box-shadow: inset 0px -7px 5px 0px rgba(213,213,213,1);
        }

    }
}

}
.header-row{
   margin-top: -2rem;
   margin-bottom: 90px;
    .head-item{
        text-align: center;
       background-color: #fff;
        border-radius: 20px;
        height: 206px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 16.74px 1.26px rgba(0, 0, 0, 0.11);
        top: -2rem;
         width: 100%;
            p{
            font-size: 15px;
            font-family: 'semiBold';
            padding: 0 40px;
        }
        img{
            margin-bottom: 20px;
        }
    }
}
.group-title{
    width: 100%;
    margin-bottom: 30px;
    display: flex!important;
    justify-content: center;
    align-items: center;
    h1{
        color: #003587;
        font-family: 'semiBold'!important;
    }
    img{
        width: 3%;
        margin-right: 15px;
    }
    
}
.galaksi-group{
    margin-bottom: 108px;
}
.group-item{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f7f7f7;
    height: 214px;
   
    
}
.alugal{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 50%!important;
    }
}
.group-image{
    height: 100%;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 100%;
      
    }
}
.group-image::before{
    content: '';
    width: 40px;
    height: 2px;
    position: absolute;
    bottom: 0;
    background-color: #0052b5;
}
.news{
    background-color: #f7f7f7;
    padding: 60px 0 80px 0;
    .news-title{
        h1{
            text-align: center;
            font-size: 30px;
            color: #003587;
            font-weight: bold;
            font-family: 'openSans';
            margin-bottom: 50px;
        }
    }
    .slide{
        margin: 0 10px;
        img{
            width: 96%;
            height: 180px;
        }
        h2{
            font-size: 16px;
            font-weight: bold;
            color: #003587;
            margin: 25px 0 17px 0;
        }
        button{
            background-color: #00a7ff;
            border: none;
            border-radius: 6px;
            font-size: 12px;
            color: #fff;
            font-weight: bold;
            height: 23px;
            padding: 0 0.5rem;
        }
        p{
            font-size: 15px;
            font-family: 'openSans';
            padding-right: 30px;
        }
        a{
            font-size: 12px;
            font-family: 'openSans';
            color: #00a7ff;
        }
    
    }
}
.galaksi-content{
    padding-top: 70px;
    .content-title{
        h1{
            font-size: 30px;
            color: #003587;
            font-weight: bold;
            font-family: 'openSans';
            margin-bottom: 50px;  
        }
    }
    
}

.arrows{
    padding-top: 20px;
    button{
        width: 122px;
        height: 63px;
        img{
            width: 20%;
        }
    }
    .prev-nav{
        border: none;
        background-color: #0093e0;
        border-radius: 8px;
    }
    .next-nav{
        border: none;
        background-color: #d1d1d1;
        border-radius: 8px;
    }
}
.content-inner{
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 54px;
}

.header{
    background-color: #0093e0;
    height: 159px;
    .header-inner{
        display: flex;
        width: 100%;
        justify-content:space-between;
        align-items: center;
       .header-links{
           .nav-links{
               background-color: #fff;
               padding: 16px 0;
               border-radius:30px;
               display: flex;
               justify-content: space-around;
               a{
                   font-size: 14px;
                   color: #464646;
                   font-family: 'semiBold';
               }
               .link.active{
                color: #0093e0;
               }
           }
       }
    }
    .head-descktop{
        height: 159px;
    }
}

.burger-menu{
    display: none;
}
.burger-menu-image{
    img{
        position: absolute;
        top: 1.5rem;
    }
}
.burger-menu-btn{
    width: 3rem;
    height: 2.5rem;
    background-color:#0093e0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s ease;
    z-index: 9999;
    position: relative;
  }
 
  .burger-menu-lines,
  .burger-menu-lines::after,
  .burger-menu-lines::before{
      position: absolute;
      width: 2rem;
      height: 5px;
      background-color: #fff;
  }
  .burger-menu-lines{
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      transition: all .5s ease;
  }
  .burger-menu-lines::after{
      content: '';
      top: -12px;
      transition: all .5s ease;
  }
  .burger-menu-lines::before{
      content: '';
      top: 12px;
      transition: all .5s ease;
  }
  
  .burger-menu-lines-active .burger-menu-lines{
      background-color: transparent;
  }
  
  .burger-menu-lines-active .burger-menu-lines::before{
      top: 0;
      transform: rotate(-45deg);
  }
  
  .burger-menu-lines-active .burger-menu-lines::after{
      top: 0;
      transform: rotate(45deg);
      
  }
  .catalog-link-mobile{
      display: none!important;
  }
  
  .nav-panel-mobil{
      position: fixed;
      left: 0;
      background-color: #fff;
      height:100vh;
      z-index: 99;
      transition:.5s;
      width: 100%;
      text-align: center;
      transform: translateX(-100%);
      font-size:20px;
      font-weight:bold;
      padding-top:1rem;
      top: 0;
      display: flex;
      align-items: center;
  }
  .nav-panel-mobil-active{
      transform: translateX(0);
  }

 
   .text-overflow-active{
     height: auto;
     overflow: auto; 
     transition:all 5s ease;
   }
 
   h4{
         font-size: 15px;
             color: #1f97f3;
     }
     .link-overflow{
             font-size: 15px;
                 color: #1f97f3;
                 font-weight: bold;
     }
 .text-overflow{
   height: 295px;
   overflow: hidden;
   position: relative; 
   &::after{
    content: '';
    width: 100%;
    height: 60px;
    opacity: .5;    position: absolute;
    bottom: 0;
    background-color: #fff;
    box-shadow: inset 0px -70px 68px 0px rgba(255,255,255,1);

}
   p{
    transition:all 5s ease;
   }

  }
  .read-overflow{
       padding-top: 12px;
}

  .text-overflow-active{
    height: auto;
    overflow: auto; 
    transition:all 5s ease;
  }

  h4{
        font-size: 15px;
            color: #1f97f3;
    }
    .link-overflow{
            font-size: 15px;
                color: #1f97f3;
                font-weight: bold;
    }
 

  @media screen and (max-width:576px){
      body{
        .head{
            background-size: inherit!important;
            .header-content{
                padding: 2rem 0 3rem 0;
            }
            .header-inner{
                .logo{
                    display: none!important;
                }
          }
          .burger-menu-btn{
              top: 60px;
          }
        }
      }
     
    
      .header-links{
          display: none;
      }
      .header{
          position: relative;
          .header-container{
              display: none;
          }
          .head-descktop{
              display: none;
          }
      }
      .burger-menu{

        display: block;
        height: 160px;
      }
      .burger-menu-btn{
          display: block;
    position: absolute;
    right: 1rem;
    top: 30%;
    
      }
      .header-row {
        .head-item{
            margin-bottom: 10px;
        }
      }
      .group-title{
        img{
            width: 10%;
            margin-right: 15px;
        }
      }
      .slide-show .slick-slider{
            width: 90%;
            margin: 0 auto;
      }
      .slide-show {
          .slick-prev{
            left: -8px !important;
            width: 25px;
            height: 25px;
            top:30%;
          }
          .slick-next{
            right: -15px!important;
            width: 25px;
            height: 25px;
            top:30%;
          }
      }
    
    
      
     
  }
@media screen and (min-width:768px) and (max-width:1024px){

    body{
        .head{
            background-size: cover!important;
        }
    }
    .head-item{
        margin-bottom: 10px;
    }
    .alugal {
        img {
        width: 30% !important;
    }
}
.group-title{
    img{
        width: 5%;
        margin-right: 15px;
    }
  }
    .news{
   
    .slide-show{
        .slide{
            width: 90%!important;
            img{
                width: 100%;
            }
        }
        .slick-prev{
            width: 30px;
            height: 30px;
            left: -1.5rem!important;
        }
        .slick-next{
            width: 30px;
            height: 30px;
           right:-20px!important;
        }
    }
         
}
.slider-nav {
    padding: 0px 60px;
    .slick-next{
        right: 0.7rem!important;
    }
}
}

@media screen and (min-width:1024px) and (max-width:1340px){
    .news{
   
        .slide-show{
            .slide{
                width: 90%!important;
                img{
                    width: 100%;
                }
            }
            .slick-prev{
                width: 30px;
                height: 30px;
                left: -1.5rem!important;
            }
            .slick-next{
                width: 30px;
                height: 30px;
               right:-1.5rem!important;
            }
        }
       
        
    }
    .slider-nav {
        padding: 0px 60px;
        .slick-next{
            right: 0.3rem!important;
        }
    }
}


 