@font-face{
    font-family: 'openSans';
    src: url(../font/OpenSans-Regular.ttf);
}

@font-face{
    font-family: 'semiBold';
    src: url(../font/OpenSans-SemiBold.ttf);
}
@font-face{
    font-family: 'extraBold';
    src: url(../font/OpenSans-ExtraBold.ttf);
}
