.about{
    padding-top: 30px;
    .crumb-about{
        background-color:#FFF !important;
    }
    .about-img{
        padding: 70px 0 50px 0;
        img{
            width: 395px;
            height: 107px;
        }
    }
    .about-content{
        padding-bottom: 30px;
        p{
            font-size: 20px;
            font-family: 'openSans';
        }
    }
    .about-card{
        .about-link{
            height: 290px;
            margin: 2.5px;
            
            h2{
                color: #FFF;
                font-size: 24px;
                width: 243px;
                padding: 53px 0 0 43px;
            }
        }
        .link{
            background-image: url(../image/about-1.png);
        }
        .link-2{
            background-image: url(../image/about-2.png);
        }
        .link-3{
            background-image: url(../image/about-3.png);
        }
        .link-4{
            background-image: url(../image/about-4.png);
        }
        .link-5{
            background-image: url(../image/about-5.png);
        }
        .link-6{
            background-image: url(../image/about-6.png);
        }
        .link-7{
            background-image: url(../image/about-7.png);
        }
        .link-8{
            background-image: url(../image/about-8.png);
        }
        .about-btn{
            img{
                width: 260px;
                height: 70px;
                margin-bottom: 45px;
            }
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            button{
                    border-radius: 20px;
                    background-color: rgb(0, 53, 135);
                    width: 257px;
                    height: 59px;
                    border: none;
                    font-size: 16px;
                    
                    font-family: "openSans";
                    line-height: 1.75;
                    color: #FFF;
                      
            }
        }
       
    }
}

@media screen and (max-width:576px){
    .about{
        .about-img{
            padding: 2rem 0;
            img{
                width: 100%;
            }
        }
        .about-content{
            p{
                font-size: 18px;
                text-align: justify;
            }
        }
        .about-card{
            flex-direction: column;
        }
    }
    
}

@media screen and (min-width:768px) and (max-width:1024px){
    .about{
        .about-card{
            
            img{
                width: 80%!important;
            }
            .about-btn{
                button{
                    width:80%;
                }
            }
            .about-link{
                h2{
                    padding: 2rem 1rem;
                }
               
            }
        }
        
    }
}