
.about{
    .about-group{
        font-family: 'openSans';
        h1{
            font-size: 32px;
            margin-bottom: 45px;
        }
        p{
            font-size: 20px;
            margin-bottom: 56px;
        }
    }
    .about-image{
        img{
            width: 100%;
        }
    }
}
.about-start{
    padding: 72px 0 65px 0;
    background-image: url(../image/about-start.png);
    .about-start-title{
        border-top: 5px solid #cbd0d3;
        margin-bottom: 35px;
        h1{
            font-family: 'openSans';
                font-size: 32px;
                color: #212121;
                margin-top: -1.7rem;
                margin-left: 2rem;
                width: 380px;
                background-color: #eff4f8;
                padding: 0 15px;
        }
    }
    .about-start-txt{
        p{
            font-family: 'openSans';
            font-size: 15px;
            color: #212121;
            margin-bottom: 20px;
        }
       
    }
}
.activity-title{
    padding: 80px 0 45px 0;
    h1{
        font-size: 32px;
    }
}

.logo-group{
    background-image: url(../image/bg.png);
   
    .logo-inner{
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo-company{
            display: flex;
    justify-content: center;
    align-items: center;
             img{
                 width: 250px!important;
             }   
        }
        .logo-company-galwin{
            display: flex;
    justify-content: center;
    align-items: center;
            img{
                width: 250px;
            }
        }
        .herkul{
            img{
                margin-top: -1.5rem;
            }
        }
        .logo-company-2{
            display: flex;
    justify-content: center;
    align-items: center;
            img{
                width: 130px;
            
            }
           
        }
    }
}

.about-content{
    padding: 50px 0;
    p{
            font-size: 15px;
            font-family: "openSans";
            color: rgb(33, 33, 33);
            line-height: 1.667;
          
    }
}

@media screen and (max-width:576px){
    .about{
        .about-group{
            h1{
                font-size: 20px;
                margin-bottom: 1.5rem;
            }
            p{
                font-size: 15px;
            }
        }
    }

    .about-start{
        .about-start-title{
            h1{
                font-size: 20px;
                width: 250px;
                margin-left: 1rem;
                margin-top: -1.3rem;
            }
        }
    }
    .activity-title{
        padding: 2rem 0;
        h1{
            font-size: 20px;
        }
    }
    .logo-group{
        .logo-inner{
            flex-direction: column;
            padding: 0.5rem 0;
            .about-logo{
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                img{
                    width: 70%;
                }
            }
        }
    
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .logo-group{
        .logo-inner{
            .about-logo{
                display: flex;
                justify-content: center;
                margin-bottom: 10px;
                img{
                    width: 90%;
                }
            }
        }
    
    }
}
