.contact{
    .contact-title{
        padding-bottom: 35px;
        h1{
                font-size: 32px;
                font-family: "openSans";
                color: rgb(33, 33, 33);
                line-height: 1.406;
                text-align: left;
        }
    }
    .contact-inner{
        width: 100%;
        margin-bottom: 70px!important;
        .contact-content{
          
            h2{
                    font-size: 30px;
                    font-family: "openSans";
                    color: rgb(0, 149, 225);
                    font-weight: bold;
                    line-height: 0.933;
                    text-align: left;
            }
            .email{
                padding: 35px 0!important;
                a{
                    font-size: 15px;
                    font-family: "openSans";
                    color: rgb(38, 38, 38);
                    line-height: 1.867;
                    text-align: left;
                    text-decoration: none;
                   
            }
        }
            p{
                    font-size: 15px;
                    font-family: "openSans";
                    color: rgb(38, 38, 38);
                    line-height: 1.6;
                    text-align: left;
                    margin: 0;
                  
            }
        }
        .maps{
             height:330px;
        }
    }
 
}
.contact-form{
    background-color: #1f97f3;
    padding: 45px 0 35px 0;
    .contact-item{
        h2{
            width: 90%;
                font-size: 24px;
                font-family: "openSans";
                color: rgb(255, 255, 255);
                font-weight: bold;
                line-height: 1.458;
                text-align: left;     
        }
        p{
                font-size: 15px;
                font-family: "openSans";
                color: rgb(255, 255, 255);
                line-height: 2.333;
                text-align: left;
        }
        .contact-icon{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .contact-info{
                width: 290px;
                height: 50px;
                background-color: #1f84d5;
                clip-path: polygon(9% 0, 100% 0%, 92% 100%, 0% 100%);

                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    width: 210px;
                        font-size: 15px;
                        font-family: "openSans";
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        line-height: 1.333;
                        margin: 0;
                }
            }
           
        }
    }
    .contact-link{
        .input-forms{
            width: 100%;
            display: flex;

            input{
                width: 100%;
                height: 50px;
                padding-left: 25px;
                border: none;
                margin-bottom: 10px;
                    border-color: rgb(202, 214, 223);
                    background-color: rgb(250, 250, 250);
                    box-shadow: inset 1px 1.732px 5px 0px rgba(0, 0, 0, 0.15);
                 &::placeholder{
                    font-size: 15px;
                    font-family: "openSans";
                    color: rgb(33, 33, 33)!important;
                    line-height: 1.667;
                 
                 } 
            }
            .forms{
                position: relative;
                &::after{
                    content:'*';
                    position: absolute;
                    top: 0.2rem;
                    right: 0.5rem;
                        font-size: 15px;
                        font-family: "OpenSans";
                        color: rgb(198, 40, 40);
                        font-weight: bold;
                        line-height: 1.667;
                }
            }
        
        
            .question-form{ 
                position: relative;
                margin-bottom: 15px;
                textarea{
                    width: 100%;
                    height: 80px;
                    resize: none;
                    padding-left: 25px;
                    border: none;
                        border-color: rgb(202, 214, 223);
                        background-color: rgb(250, 250, 250);
                        box-shadow: inset 1px 1.732px 5px 0px rgba(0, 0, 0, 0.15);
                     &::placeholder{
                        font-size: 15px;
                        font-family: "openSans";
                        color: rgb(33, 33, 33)!important;
                        line-height: 1.667;
                        padding-top: 15px;
                     } 
                }
                img{
                    position: absolute;
                    bottom: 1rem;
                    right: 0.5rem;
                }
            }}   
       
        .form-btn-inner{
            display: flex;
            .form-btn{
                button{
                    width: 220px;
                    height: 52px;
                    font-size: 16px;
                    font-family: "openSans";
                    color: rgb(31, 151, 243);
                    font-weight: bold;
                    line-height: 3.125;
                    text-align: center;
                    border: none;
                    background-color: rgb(255, 255, 255);
                    border-radius: 20px;     
            }
        }
       
        .checkbox{
            height: 100%;
    display: flex;
    align-items: center;
            label{
                font-size: 13px;
                        font-family: "openSans";
                        color: rgb(255, 255, 255);
                        line-height: 1.538;
                        a{
                    color: #ffffff;
                    font-weight: bold;
                    text-decoration: underline;
                        }
            }
        }
        .checkbox input[type="checkbox"] {
            opacity: 0;
        }
        
        .checkbox label::before{
            content: "";
            display: inline-block;
            height: 16px;
            width: 16px;
            background: #fff;  
        }
        .checkbox label::after {
            content: "";
            display: inline-block;
            height: 6px;
            width: 9px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
           }
           .checkbox label::after {
               content: "";
               display: inline-block;
               height: 6px;
               width: 9px;
               border-left: 2px solid;
               border-bottom: 2px solid;
               transform: rotate(-45deg);
           }
           
.checkbox label {
    position: relative;
   }
   .checkbox label::before,
   .checkbox label::after {
    position: absolute;
   }
   .checkbox label::before {
    top: 10px;
   }
   .checkbox label::after {
    left: 4px;
    top: 7px;
   }
   .checkbox label {
       position: relative;
   }
   .checkbox label::before,
   .checkbox label::after {
       position: absolute;
   }
   .checkbox label::before {
       top: 3px;
       left: -1.5rem;
   }
   .checkbox label::after {
    left: -1.3rem;
       top: 7px;
       color: #60dd4d;
   }
  
.checkbox input[type="checkbox"] + label::after {
    content: none;
   }
   .checkbox input[type="checkbox"]:checked + label::after {
    content: "";
   }

   .checkbox input[type="checkbox"] + label::after {
       content: none;
   }

   .checkbox input[type="checkbox"]:checked + label::after {
       content: "";
   }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}
        }
   }
}


@media screen and (max-width:576px){
    .pr-0{
        padding-right: 15px !important;
    }
    .contact-inner{
        flex-direction: column;
        width: 100%;
        .contact-content{
            margin-bottom: 20px;
        }
        .maps{
            width: 100%;
            height: 100%;
        }
    }
    .contact-form{
        .contact-item{
            margin-bottom: 20px;
        }
            .contact-link {
                .input-forms {
                    input{
                        padding: 0  0 0 10px;
                        margin-bottom: 10px;
                    }
                    .question-form{
                        textarea{
                            padding-left: 10px;
                            height: 130px; 
                            margin-bottom: 10px;
                        }
                        img{
                            bottom: 1.5rem;
                        }
                    }
                }
               
                .form-btn-inner{
                    flex-direction: column;
                    .form-btn{
                        display: flex;
                        justify-content: center;
                    }
                    .checkbox{
                        margin: 20px 40px;
                    }
                }
        } 
    }
}

@media screen and (min-width:768px) and (max-width:1024px){
    .contact-form {
        .contact-item {
            .contact-icon {
                .contact-info{
                    p{
                            width: 125px;
                            font-size: 11px;
                }
            }
            }
        }
        .contact-link {
            .input-forms {
                input{
                    padding: 0  0 0 10px;
                    margin-bottom: 10px;
                }
            }
            .form-btn-inner {
                .form-btn{
                    button{
                        width: 100%;
                    }
                }
            }
        }
    }

}