.crumb-page{
    .crumbs{
        padding: 50px 0;
        background-color: #ffffff;
    .crumb-item{
        text-decoration: underline;
        font-weight: bold;
        }  
    }
}
.vacancy{
    
    .vacancy-content{
        background-image: url(../image/bg-vacancy.png);
        padding-top: 73px;
        .vacancy-image{
            img{
                width: 100%;
            }
        }
   
    .vacancy-title{
        h3{
            font-family: 'openSans';
            font-size: 32px!important;
            color: #212121;
        }
    }
    .vacancy-group{
        display: flex;
        padding: 60px 0;
        .vacancy-inner{
            .vacancy-card{
                display: flex;
                align-items: center;
                background-color: #eff4f8;
                margin-bottom: 8px;
                h1{
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;
                    font-size: 36px;
                    color: rgb(31, 151, 243);
                    line-height: 0.833;
                    width: 63px;
                    height: 61px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ffffff;
                    margin: 18px;
                }
                p{
                    margin: 0;
                    padding-left: 16px;
                    font-size: 20px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: bold;

                }
               
            }
        }
    }
}

}

@media screen and (max-width:576px){
    .pl-0{
        padding-left: 15px!important;
    }
    .vacancy {
       
        .vacancy-content {
            .vacancy-group{
                flex-direction: column;
            }
            .vacancy-title{
                padding-left: 15px;
              
                h3{
                    font-size: 25px!important;
                }
               
            }
        }
    }
}