.we-slider{
    .sliderWe{
        .slider-content{
            width: 100%!important;
            padding: 0 10px;
            .slider-logo{
                margin-left: 2.2rem;
                width: 165px !important;
                height: 60px;
                background-color: #00a7ff;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                &::before{
                    content: '';
                    width: 0;
                    height: 0;
                    border-top:15px solid #003587; 
                    border-left: 15px solid transparent;
                    position: absolute;
                    bottom: -15px;
                    left: 0;
                }
                .sieger{
                    width: 18%!important;
                }
                img{
                    width: 70%;
                }
                
            }
            .slider-txt{
                height: 200px;
                display: flex;
                justify-content: flex-end;
                position: relative;
                &::before{
                    content: '';
                    width: 0;
                    height: 0;
                    border-top:35px solid #cfcfcf; 
                    border-right: 35px solid transparent;
                    position: absolute;
                    bottom: 0.3rem;
                    right: 0;
                }
                
                p{
                    width:200px;
                    height: 160px;
                        padding: 10px 15px 10px 20px;
                        font-size: 13px;
                        font-family: "openSans";
                        color: rgb(0, 53, 135);
                        line-height: 1.538;
                        background-color: rgb(255, 255, 255);
                    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.14);
                      border-radius: 0px 0px 0px 8px;
                      
                }
            }
            .slider-icon{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-right: 20px;
                position: relative;
                &::before{
                    content: '';
                    width: 100%;
                    height: 10px;
                    background-color: #ffffff;
                    position: absolute;
                    left: -46px;
                    top: 14px;
                    z-index: -1;
                    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.14);
                }
                img{
                    width: 40px;
                    height: 40px;
                   padding: 7px;
                    background-color: #fff;
                    box-shadow: 0px 12px 17px 0px rgba(0, 0, 0, 0.14);
                    border-radius: 50%;
                }
                p{
                        font-size: 30px;
                        font-family: "extraBold";
                        color: rgb(0, 53, 135);
                        line-height: 0.833;
                        margin-top: 22px;
                }
               
            }
        }
    }
   
}

@media screen and  (max-width:576px){
    .we-slider {
        .sliderWe {
            .slider-content {
                .slider-txt {
                    p{
                        width: 95%;
                    }
                }
            }
        }
    }
}